* {
  margin: 0;
}

/* Style for the entire website */

body {
  font-family: "Poppins", sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  line-height: 1.6;
}

/* A */
header {
  display: flex;
  /* justify-content: flex-start; */
  width: 100%;
  align-items: center;
  gap: 2rem; /* e.g., 2rem spacing between logo and nav */
  /* padding: 1rem 3rem; */
  background: #000;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Make nav links stay in one row next to logo */
nav {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin-inline: 100px;
  margin: auto;
  gap: 2rem; /* space between links */
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #ccc;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}
/* -A */

/* B */
.hero {
  text-align: center;
  padding: 4rem 2rem;
}

.avatar-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.avatar-container .avatar {
  position: absolute;
}

.hero h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

/* .highlight {
  color: #ff4fd8;
} */

.gradient-text {
  background: linear-gradient(to right, #ff8660, #9a33ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons {
  margin-top: 1.5rem;
}

.btn {
  border: 2px solid #fff;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
}

.btn.primary {
  background: #fff;
  color: #000;
}

.hero p {
  color: rgb(127, 135, 143);
}
/* -B */

/* C */
.skills {
  text-align: center;
  padding: 3rem 2rem;
}

.skills h2 {
  font-weight: 300;
  color: darkgrey;
  font-size: larger;
  letter-spacing: 0.25rem;
}
.icons {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 60px;
}
/* -C */

/* D */
.projects {
  text-align: center;
  padding: 3rem 2rem;
}

.projects h2 {
  font-weight: 800;
  color: #ff8660;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
}

.project-card img {
  width: 100%;
}
/* -D */

/* E */
.experience {
  text-align: center;
  padding: 3rem 2rem;
}

.experience h2 {
  font-weight: 800;
  color: #2a79f0;
}

.job {
  margin: 2rem auto;
  max-width: 600px;
  text-align: left;
}
/* -E */

/* F */
footer {
  background: #000;
  text-align: center;
  padding: 3rem 2rem;
}

.socials img {
  width: 25px;
  margin: 0 10px;
}
/* -F */

/* A style you can use for all your elements */
.center-flex {
  gap: 8px;
  display: flex;
  justify-items: center;
  justify-content: center;
}
